.App {
  /* text-align: center; */
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-todo-box {
  width: 400px;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.comments-counter {
  width: 25px;
  height: 25px;
  text-align: center; 
  border-radius: 9px;
  background-color: lightblue
}

.add-comment-box {
  width: 500px; 
  border: 1px solid black;
  margin: 20px; 
  padding: 20px; 
  float: right;
}

